# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example


# Firebase & Secret configs
plugins/firebase.client.ts
plugins/firebase*.ts
composables/useSnippets.ts
.env
.env.*